* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 1rem;
  font-family: "Open Sans";
  background-color: #fafafa;
  color: #7f8c8d;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato";
  color: #95afc0;
}

#sidebar-header h3 {
  color: #fff;
}

#navbar {
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  top: 0;
  z-index: 9999;
  box-shadow: 2px 0px 5px #ecf0f1 !important;
}

#navbar li {
  display: inline-block !important;
  vertical-align: middle !important;
}

#navbar img {
  width: 30px;
  height: 30px;
  margin-top: -6px;
}

#navbar .notif {
  position: relative;
}

#navbar .badge {
  position: absolute;
  top: 0px;
  left: 22px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ee5752;
  color: #fff;
}

#wrapper {
  min-height: 100%;
  flex-direction: row;
}

#sidebar-wrapper {
  background-image: linear-gradient(
      rgba(44, 83, 100, 0.9),
      rgba(44, 83, 100, 0.9)
    ),
    url(https://pbs.twimg.com/media/DMDIKcyWsAEsKDj.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  border-top-right-radius: 5px;
  min-height: 100%;
  margin-left: -15rem;
  transition: margin 0.5s ease-out;
}

#sidebar-wrapper .sidebar-active {
  border-left: 2px solid #fff !important;
}

#sidebar-wrapper .sidebar-active {
  background-color: #576574 !important;
}

#sidebar-wrapper .list-group {
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  top: 0;
  width: 15rem;
}

#sidebar-wrapper .list-group a {
  border: 1px solid rgba(44, 83, 100, 1);
  transition: background-color 0.5s;
}

#sidebar-wrapper .list-group a:hover {
  background-color: #576574 !important;
}

#page-content-wrapper {
  width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#wrapper #world-map-markers {
  height: 500px;
}

/*PROGRESS BAR*/
.progress .progress-bar-one {
  width: 100%;
  color: #fff;
  text-align: center;
  background-color: rgba(235, 77, 75, 0.7);
}

.progress .progress-bar-two {
  width: 20%;
  color: #fff;
  text-align: center;
  background-color: rgba(106, 176, 76, 0.7);
}

.progress .progress-bar-three {
  width: 80%;
  color: #fff;
  text-align: center;
  background-color: rgba(104, 109, 224, 1);
}

.progress .progress-bar-four {
  width: 90%;
  color: #fff;
  text-align: center;
  background-color: rgba(48, 51, 107, 1);
}

table img {
  width: 60px;
  height: 60px;
}

table .order-in-transit,
.order-delivered,
.order-cancelled {
  padding: 8px 10px;
  box-shadow: 0 0 2px #ecf0f1;
}

table .order-in-transit {
  color: #e1b12c;
  background-color: rgba(251, 197, 49, 0.2);
}

table .order-delivered {
  color: #44bd32;
  background-color: rgba(76, 209, 55, 0.2);
}

table .order-cancelled {
  color: #c23616;
  background-color: rgba(232, 65, 24, 0.2);
}

.fb-network {
  background-color: #3b5998;
}

.twitter-network {
  background-color: #1da1f2;
}

.instagram-network {
  background-color: #c32aa3;
}

.google-plus-network {
  background-color: #db4437;
}

.pinterest-network {
  background-color: #bd081c;
}

.social-networks {
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.box-tasks {
  box-shadow: 0 0 0px #ecf0f1;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
