* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#navbar {
    box-shadow: 2px 0px 5px #bbbbbb !important;
}

#sidebar-wrapper {
  background-image: linear-gradient(rgba(44, 83, 100, 0.9), rgba(44, 83, 100, 0.9)),
      url(https://pbs.twimg.com/media/DMDIKcyWsAEsKDj.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  border-top-right-radius: 5px;
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}
/*#sidebar-header {
  background-image: linear-gradient(rgba(44, 83, 100, 0.9), rgba(44, 83, 100, 0.9)),
      url(https://pbs.twimg.com/media/DMDIKcyWsAEsKDj.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}*/

#sidebar-wrapper .list-group {
  width: 15rem;
}

#sidebar-wrapper .list-group a {
  border: 1px solid rgba(44, 83, 100, 1);
  transition: 3s;
}

#sidebar-wrapper .list-group a:hover {
    background-color: #576574 !important;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
